*.orig
*.max
.vs/
msvc/
msvc-2015/
msvc-2017/
build-msvc-2017/
build-msvc-2017-release/
files/*
test_reports/*
src/resource/xpln_obj_io.aps
src/Info.h
output/
output-dev/
output-release/
set-conan-user.bat
